body{
    font-family: sans-serif;
    background: #0B3861;
    color:white;
    text-align: center;
}
#round-indication {
    position:absolute;
    top:0;
    left:0;
}
#top-right-pseudo {
    position:absolute;
    top:0;
    right:0;
}
input{
    padding:5px;
    border-radius:5px;
}
input[type=submit]{
    background-color:#210B61;
    color:white;
    border-color:#240B3B;
}
ul#online-players{
    font-weight: bold;
    list-style: none;
    padding:0;
}
ul#online-players span{
    color:yellow;
}
div.vue{
    display:none;
}
div.current-view{
    display:block;
}
td{
    width:30%;
    height: 50%;
}
img.carte, img.carte-d{                        
    width:90%;
    height:auto;
    border: 5px hidden #ccddff;
    border-radius: 30px;
}
img.carte-choisie, img.carte-choisie-d{
    border:5px solid #ccddff;
    box-shadow: 0px 0px 25px 5px #ccddff;
}
img.reveal-counter-card{
    border:5px solid #d40d0d;
    box-shadow: 0px 0px 25px 5px #d40d0d;
}
div.cards-container{
    margin-top:50px;
}
div.scores table, table.round-scores-table{
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom:50px;
}
#scores-table td, #scores-table th, #round-scores td, #round-scores th{
    padding:20px;
    border: 1px solid white;
}
#scores-table td, #round-scores td{
    font-weight: normal;
}

#round-number-input {
    width: 3em;
}