<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dixit</title>
    </head>
 
    <body>
        <h1>Bienvenue sur le jeu Dixit !</h1>

        <div id="message-server"></div>

        <p>Choisi ton pseudo</p>
        <form>
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo-input" name="pseudo" value="pseudo">
            <input type="submit" value="pseudo" onclick="sendPseudo()"/>
        </form> 


        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:50000');

            function sendPseudo() {
                var pseudo = document.getElementById("pseudo-input").value;
                socket.emit('pseudo', pseudo);
            }

            // On affiche une boîte de dialogue quand le serveur nous envoie un "message"
            socket.on('message', function(message) {
                document.getElementById("message-server").innerHTML = 'Le serveur a un message pour vous : ' + message;
                setTimeout(function() {
                    document.getElementById("message-server").innerHTML = ''; 
                }, 1000);
                
            })

        </script>
    </body>
</html>