<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dixit</title>
    </head>
 
    <body>
        <h1>Voici ton jeu !</h1>
        <div class="cards-container">
        	<table>
        		<tbody>
        			<tr>
        				<th><div id="card0"></div></th>
        				<th><div id="card1"></div></th>
        				<th><div id="card2"></div></th>
        			</tr>
        			<tr>
        				<th><div id="card3"></div></th>
        				<th><div id="card4"></div></th>
        				<th><div id="card5"></div></th>
        			</tr>
        		</tbody>
        	</table>
        </div>

        <div id="message-server"></div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:50000');
            socket.emit('tirage', 6);

            // On affiche une boîte de dialogue quand le serveur nous envoie un "message"
            socket.on('message', function(message) {
                document.getElementById("message-server").innerHTML = 'Le serveur a un message pour vous : ' + message;
                setTimeout(function() {
                    document.getElementById("message-server").innerHTML = ''; 
                }, 1000);
                
            });

            socket.on('tirage', function(directory, cartes){
            		for (var i = 0; i < cartes.length; i++) {
            			document.getElementById("card"+i).style = "background-image: url("directory+"/"+cartes[i]+");";
            		}
            });


        </script>
    </body>
</html>