<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dixit</title>
    </head>
 
    <body>
        <style>
            div.vue{
                display:none;
            }
            div.current-view{
                display:block;
            }
    </style>
        <!-- VUE A : choix du pseudo -->
        <div id="vue-A" class="current-view vue">
            <h1>Bienvenue sur le jeu Dixit !</h1>

            <p>Choisis ton pseudo</p>
            <p>
                <label for="pseudo">Pseudo</label>
                <input type="text" id="pseudo-input" name="pseudo" placeholder="Pseudo">
                <input type="submit" value="Valider" onclick="sendPseudo()"/>
            </p> 
        </div>



        <!-- VUE B : salle d'attente -->
        <div id="vue-B" class="vue">
            <h1>Vive le Dixit !</h1>
            <p>Attendons que tout le monde soit prêt...</p>
        
            <div id="pseudo"></div> </br>

            <div id="players"> En ligne : 
                <ul id="ul-list"> </ul>
            </div>
        </div>


        <div id="message-server"></div>



        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:50000');

            function sendPseudo() {
                var pseudo = document.getElementById("pseudo-input").value;
                socket.emit('pseudo', pseudo);
                document.getElementById("pseudo").innerHTML = "Hello " + pseudo;
            }


            socket.on('change_view', function(view) {
                document.getElementById("message-server").innerHTML = "";
                document.getElementsByClassName("current-view")[0].classList.remove("current-view");
                document.getElementById("vue-"+view).classList.add("current-view");

            })

            // Liste des joueurs
            socket.on('players_list', function(list) {
                let ul = document.getElementById("ul-list");
                
                while (ul.hasChildNodes()) {  
                    ul.removeChild(ul.firstChild);
                }

                for (let i=0; i<list.length ; i++) {
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode(list[i]));
                    ul.appendChild(li);
                }
            })

            /*
            // Mise à jour de la liste des joueurs
            socket.on('new_player', function(pseudo) {
                var ul = document.getElementById("ul-list");
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(pseudo));
                ul.appendChild(li);
            })

            socket.on('disconnection', function(pseudo) {
                var ul = document.getElementById("ul-list");

                for(let i=0 ; i<ul.childNodes.length; i++) {
                    li=ul.childNodes[i];

                    if(li.innerHTML==pseudo) {
                        ul.removeChild(li);
                        break;
                    }
                }
            })*/



            // Message d'erreur
            socket.on('message', function(message) {
                document.getElementById("message-server").innerHTML = message;
                /*setTimeout(function() {
                    document.getElementById("message-server").innerHTML = ''; 
                }, 1000);*/
                
            })

        </script>
    </body>
</html>