<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dixit</title>
    </head>
 
    <body>
        <style>
            div.vue{
                display:none;
            }
            div.current-view{
                display:block;
            }
            th{
                width:30%;
                height: 50%;
            }
            img.carte{                        
                width:90%;
                height:auto;
                border: 5px hidden green;
            }
            img.carte-choisie{
                border:5px solid green;
                border-radius: 20px;
                box-shadow: 0px 0px 25px 5px green;
            }
    </style>
        <!-- VUE A : choix du pseudo -->
        <div id="vue-A" class="current-view">
            <h1>Bienvenue sur le jeu Dixit !</h1>

            <p>Choisis ton pseudo</p>
            <p>
                <label for="pseudo">Pseudo</label>
                <input type="text" id="pseudo-input" name="pseudo" placeholder="Pseudo">
                <input type="submit" value="Valider" onclick="sendPseudo()"/>
            </p> 
        </div>

        <!-- VUE B : salle d'attente -->
        <div id="vue-B">
             <p>Attendons que tout le monde soit prêt !</p>
        
            <div id="pseudo"></div>

            <div id="players"> En ligne : 
            <ul id="ul-list">
            <%
                for(var i = 0 ; i < players.length ; i++) {
            %>
            
                <li> <%= players[i] %> </li>

            <% } %>
            </ul>
            </div>
        </div>

        <!-- VUE C : voir ses cartes -->
        <div id="vue-C" class="vue">
            <h1>Voici ton jeu ! Choisis une carte.</h1>
            <div class="cards-container">
                <table>
                    <tbody>
                        <tr>
                            <th><img id="carte0" class="carte" onclick="cardSelected(this.id)"></th>
                            <th><img id="carte1" class="carte" onclick="cardSelected(this.id)"></th>
                            <th><img id="carte2" class="carte" onclick="cardSelected(this.id)"></th>
                        </tr>
                        <tr>
                            <th><img id="carte3" class="carte" onclick="cardSelected(this.id)"></th>
                            <th><img id="carte4" class="carte" onclick="cardSelected(this.id)"></th>
                            <th><img id="carte5" class="carte" onclick="cardSelected(this.id)"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- VUE D : voir les cartes sur le plateau -->
        <div id="vue-D" class="vue">
            <h1>Selon toi, quelle carte correspond à "<span id="phrase-clef"></span>" ?</h1>
            <div class="cards-container">
                <table>
                    <tbody id="plateau">
                    </tbody>
                </table>
            </div>
        </div>


        <div id="message-server"></div>



        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:50000');

            function sendPseudo() {
                var pseudo = document.getElementById("pseudo-input").value;
                socket.emit('pseudo', pseudo);
            }

            socket.on('change_view', function(view) {
                document.getElementsByClassName("current-view")[0].classList.remove("current-view");
                document.getElementById("vue-"+view).classList.add("current-view");

            })


            // Message d'erreur
            socket.on('message', function(message) {
                document.getElementById("message-server").innerHTML = message;
                /*setTimeout(function() {
                    document.getElementById("message-server").innerHTML = ''; 
                }, 1000);*/
                
            })

            socket.on('tirage', function(cartes){
                for (var i = 0; i < cartes.length; i++) {
                    document.getElementById("carte"+i).src = cartes[i];
                }
            });

            function cardSelected(id){
                if(document.getElementsByClassName("carte-choisie").length>0){
                    document.getElementsByClassName("carte-choisie")[0].classList.remove("carte-choisie");
                }
                document.getElementById(id).classList.add("carte-choisie");
            }

            function populatePlateau(nbJoueurs){
                // 3 cartes par ligne
                nbLignes = Math.floor(nbJoueurs/3);
                if(nbJoueurs%3 != 0){
                    nbLignes += 1;
                }
                tableau = document.getElementById("plateau");
                for(let i = 0 ; i < nbLignes ; i++){
                    ligne = document.createElement("tr");
                    for(let j = 0 ; j < 3 ; j++){
                        if(3*i+j == nbJoueurs){
                            break;
                        }
                        carte = document.createElement("img");
                        carte.classList.add("carte")
                        carte.id = "carte"+i+"-"+j;
                        carte.onclick = "cardSelected(this.id)";
                        ligne.appendChild(carte);
                    }
                    tableau.appendChild(ligne);
                }
            }
        </script>
    </body>
</html>